<% provide(:title, 'About Us') %>
<%= render 'shared/header' %>


<div class="container">
	<h3>Our Advisors</h3>

</br>


	<div class="row">
		<div class="col-md-6">
			<%= image_tag("JamesGreenPic_last.jpg", class: "img-img-responsive advisor", alt: "James Green") %>
		</br>
		</br>
			<p><strong>Dr. James V. Green</strong> leads the education activities of Mtech as the Director of Entrepreneurship Education with responsibilities for the Hinman CEOs Program, the Hillman Entrepreneurs Program, and the Entrepreneurship and Innovation Program. As a Senior Lecturer and Associate Director with Mtech, Dr. Green designs and teaches undergraduate and graduate courses in entrepreneurship and technology commercialization. He is Co-Director of the Certificate in Innovation Management Program for executives. Dr. Green leads Mtech's international entrepreneurship education initiatives to include establishing and managing partnerships with the Petroleum Institute in Abu Dhabi, UAE.</p>
		</div>

		<div class="col-md-6">
			<%= image_tag("mpratt.jpg", class: "img-img-responsive advisor", alt: "Michael Pratt") %>
		</br>
		</br>
			<p><strong>Michael Pratt</strong> has worked almost two decades in startups and venture-financed companies, raising over $70M of angel and venture financing. He has co-founded or held C-level roles at numerous early stage companies, with five exits. In addition to his role at Select, Michael is a lecturer in technology entrepreneurship with the Maryland Technology Enterprise Institute at the University of Maryland. Michael has a BS in Finance from East Carolina University, an MBA from Massey University (New Zealand) and an MS, Marketing from Johns Hopkins University.</p>
		</div>
	</div>
</div>

</br>
</br>

<%= render 'shared/footer' %>