<% provide(:title, 'Chef index') %>

<%= render 'shared/header' %>

</br>
</br>


<div class= "container chef-index">
	
	<div class = "row">
		<div class="col-lg-12">
			<h1 class="page-header">Our Chefs
				<small id ="small-text">Browse their menus</small>
			</h1>
		</div>
	</div>

	<div class="row chef-profile">
		<div class="col-md-5 chef-profile-col">
			<a href="#">
				<img class="img-responsive img-circle chef-img" src="/assets/chef2.png" alt="chef">
			</a>
		</div>
		<div class="col-md-7 chef-profile-col">
			<div class="chef-hook">
				<h3>Emeril Green</h3>
				<h4>Italian Specialty</h4>
				<p>Emeril loves to cook. He went to culinary school in Italy and specializes in Italian and French cuisines.</p>
				<a class="btn btn-primary" href="/EatSmart">View menu</a>
			</div>
		</div>
	</div>

	<div class="row chef-profile">
		<div class="col-md-5 chef-profile-col">
			<a href="#">
				<img class="img-responsive img-circle chef-img" src="/assets/chef2.png" alt="chef">
			</a>
		</div>
		<div class="col-md-7 chef-profile-col">
			<div class="chef-hook">
				<h3>Emeril Green</h3>
				<h4>Italian Specialty</h4>
				<p>Emeril loves to cook. He went to culinary school in Italy and specializes in Italian and French cuisines.</p>
				<a class="btn btn-primary" href="/AmericanDelight">View menu</a>
			</div>
		</div>
	</div>

	<div class="row chef-profile">
		<div class="col-md-5 chef-profile-col">
			<a href="#">
				<img class="img-responsive img-circle chef-img" src="/assets/chef2.png" alt="chef">
			</a>
		</div>
		<div class="col-md-7 chef-profile-col">
			<div class="chef-hook">
				<h3>Emeril Green</h3>
				<h4>Italian Specialty</h4>
				<p>Emeril loves to cook. He went to culinary school in Italy and specializes in Italian and French cuisines.</p>
				<a class="btn btn-primary" href="/AsianFusion">View menu</a>
			</div>
		</div>
	</div>

</div>


<%= render 'shared/footer' %>