<% provide(:title, 'Chef index') %>

<%= render 'shared/header' %>

<div class= "container chef-index">
	
	<div class = "row">
		<div class="col-lg-12">
			<h1 class="page-header">Our Chefs
				<small id ="small-text">Browse their menus</small>
			</h1>
		</div>
	</div>

	<div class="row chef-profile">
		<div class="col-md-5 chef-profile-col">
			<a href="#">
				<img class="img-circle chef-img" src="/assets/chef2.png" alt="chef">
			</a>
		</div>
		<div class="col-md-7 chef-profile-col">
			<div class="chef-hook">
				<h3>Kayline</h3>
				<h4>EatSmart Meal Plan</h4>
				<p>Kayline provides a healthy and delicious selection of meals. Let her convince you that food can be great for you and taste good too.</p>
				<a class="btn btn-primary" href="/EatSmart">View menu</a>
			</div>
		</div>
	</div>

	<hr/>

	<div class="row chef-profile">
		<div class="col-md-5 chef-profile-col">
			<a href="#">
				<img class="img-circle chef-img" src="/assets/chef2.png" alt="chef">
			</a>
		</div>
		<div class="col-md-7 chef-profile-col">
			<div class="chef-hook">
				<h3>Miles Bromfield</h3>
				<h4>American Delight Meal Plan</h4>
				<p>Myles brings the taste of home with his classically American menu. Let him show you how you can have your familiar favorites with amazing taste.</p>
				<a class="btn btn-primary" href="/AmericanDelight">View menu</a>
			</div>
		</div>
	</div>

	<hr/>

	<div class="row chef-profile">
		<div class="col-md-5 chef-profile-col">
			<a href="#">
				<img class="img-circle chef-img" src="/assets/chef2.png" alt="chef">
			</a>
		</div>
		<div class="col-md-7 chef-profile-col">
			<div class="chef-hook">
				<h3>Kahlil Chan</h3>
				<h4>Asian Fusion Meal Plan</h4>
				<p>Kahlil specializes in Eastern Asian cuisine. He gives a delicious approach to the familiar Asian classics.</p>
				<a class="btn btn-primary" href="/AsianFusion">View menu</a>
			</div>
		</div>
	</div>
	
	<hr/>

	<div class="row chef-profile">
		<div class="col-md-5 chef-profile-col">
			<a href="#">
				<img class="img-circle chef-img" src="/assets/chef2.png" alt="chef">
			</a>
		</div>
		<div class="col-md-7 chef-profile-col">
			<div class="chef-hook">
				<h3>Faisal Menon</h3>
				<h4>South Asian Cuisine</h4>
				<p>Faisal loves to cook. His specialty in Indian cuisine will give you a passion for food with an exotic flair.</p>
				<a class="btn btn-primary" href="/SouthAsian">View menu</a>
			</div>
		</div>
	</div>

	<hr/>

	<div class="row chef-profile">
		<div class="col-md-5 chef-profile-col">
			<a href="#">
				<img class="img-circle chef-img" src="/assets/chef2.png" alt="chef">
			</a>
		</div>
		<div class="col-md-7 chef-profile-col">
			<div class="chef-hook">
				<h3>All OnCampusChefs</h3>
				<h4>Classic Living Meal Plan</h4>
				<p>All of our chefs can prepare the food items in this mealplan. This menu can also be customized with other mealplans. Feel free to include any of these food items in your order.</p>
				<a class="btn btn-primary" href="/ClassicLiving">View menu</a>
			</div>
		</div>
	</div>

	<hr/>

	<div class="row chef-profile">
		<div class="col-md-5 chef-profile-col">
			<a href="#">
				<img class="img-circle chef-img" src="/assets/chef2.png" alt="chef">
			</a>
		</div>
		<div class="col-md-7 chef-profile-col">
			<div class="chef-hook">
				<h3>All OnCampusChefs</h3>
				<h4>Specialty Sandwiches</h4>
				<p>All of our chefs can prepare the food items in this mealplan. This menu can also be customized with other mealplans. Feel free to include any of these food items in your order.</p>
				<a class="btn btn-primary" href="/SpecialtySandwiches">View menu</a>
			</div>
		</div>
	</div>

	<hr/>

	<div class="row chef-profile">
		<div class="col-md-5 chef-profile-col">
			<a href="#">
				<img class="img-circle chef-img" src="/assets/chef2.png" alt="chef">
			</a>
		</div>
		<div class="col-md-7 chef-profile-col">
			<div class="chef-hook">
				<h3>All OnCampusChefs</h3>
				<h4>Body Building Meal Plan</h4>
				<p>All of our chefs can prepare the food items in this mealplan. This menu can also be customized with other mealplans. Feel free to include any of these food items in your order.</p>
				<a class="btn btn-primary" href="/bodybuilding">View menu</a>
			</div>
		</div>
	</div>


</div>


<%= render 'shared/footer' %>