<% provide(:title, 'Pricing') %>
<%= render 'shared/header' %>

<div class="container" style="margin-bottom: 3%;">
<div class="row" style="margin-top: 3%;">
	<div class="col-md-4"></div>
	<div class="col-md-4">
		<h1 class="text-center">Pricing</h1>
		<hr>
		<h3 class="text-center" style="color: gray;">Cost &amp; Convenience, Health &amp; Hygiene, or Taste &amp; Temptation</h3>
	</div>
	<div class="col-md-4"></div>
</div>

<div class="row" style="margin-top: 3%;">
		<div class="col-md-2"></div>
			<div class="col-md-8">
			<h2 class="text-center">Number of Meals: </h2>
			<p class="text-center" style="margin-bottom: 5%;">Cost is dependent on total number of meals. Drag the slider to increase the number of total meals.</p>
			<input id="ex6" type="text" data-slider-min="2" data-slider-max="30" data-slider-step="2" data-slider-value="1"/&t

			<span id="ex6CurrentSliderValLabel"><h2 class="text-center">Price: <span id="ex6SliderVal">$74.55</span></h2></span>

			<script>
				// With JQuery
				$("#ex6").slider();
				$("#ex6").on("slide", function(slideEvt) {
					if(slideEvt.value == 2 || slideEvt.value ==1 ) {
						$("#ex6SliderVal").text("$74.55");
					} else if (slideEvt.value == 4) {
						$("#ex6SliderVal").text("$92.75");
					} else if (slideEvt.value == 6) {
						$("#ex6SliderVal").text("$96.95");
					} else if (slideEvt.value == 8) {
						$("#ex6SliderVal").text("$120.75");
					} else if (slideEvt.value == 10) {
						$("#ex6SliderVal").text("$126.00");
					} else if (slideEvt.value == 12) {
						$("#ex6SliderVal").text("$131.25");
					} else if (slideEvt.value == 14) {
						$("#ex6SliderVal").text("$164.50");
					} else if (slideEvt.value == 16) {
						$("#ex6SliderVal").text("$169.75");
					} else if (slideEvt.value == 18) {
						$("#ex6SliderVal").text("$197.75");
					} else if (slideEvt.value == 20) {
						$("#ex6SliderVal").text("$203.00");
					} else if (slideEvt.value == 22) {
						$("#ex6SliderVal").text("$231.00");
					} else if (slideEvt.value == 24) {
						$("#ex6SliderVal").text("$236.25");
					} else if (slideEvt.value == 26) {
						$("#ex6SliderVal").text("$264.25");
					} else if (slideEvt.value == 28) {
						$("#ex6SliderVal").text("$269.50");
					} else if (slideEvt.value == 30) {
						$("#ex6SliderVal").text("$297.50");
					}
				});
			</script>
			</div>

		<div class="col-md-2"></div>
</div>
</div>


<%= render 'shared/footer' %>