

<div class="container" style="margin-top: 20%;">

     <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">Pick quantity </span>
                    <input type="text" class="form-control required" id="meal-quantity" placeholder="(1-24)" aria-describedby="basic-addon1" OnChange="meal_quantity();" name="quantity" required />
              </div>

              <h1>
                    <script>
                    //javascript function for determining how many meals customer can select on menu page
                    function meal_quantity() {
                        alert("hello!");
                        
                    }

                    </script>
                </h1>
</div>
