<!-- Enter Address / Phone# -->
<div class="container" id="step4">

	<div class="row shit">
		<div class="col-md-4">
		</div>
		<div class="col-md-4">
			<div class="center-block">
				<h1>Enter Address and Phone Number</h1>
				<div class="input-group">
	  			<span class="input-group-addon" id="basic-addon1">Address: </span>
	 	 		<input type="text" class="form-control" placeholder="100 Hungry Lane" aria-describedby="basic-addon1" name="Address" data-parsley-group="block3" required />
				</div>
				<div class="input-group">
	  			<span class="input-group-addon" id="basic-addon1">Phone</span>
	 	 		<input type="text" class="form-control" placeholder="555-555-5555" aria-describedby="basic-addon1" name="phone" data-parsley-group="block3" required>
				</div>
			<div>
		</div>
		<div class="col-md-4">
		</div>
	</div>
</div>
