<p>
						     Please enter the number of up to three food items, separated by commas, from the budget menu:
						 	</p>

						 	<ol>
						 	 <li>Pasta with asparagus and French Onion</li>
						     <li>Barbecued Pork Quesadillas</li>
						     <li>Hamburger with onion and mushrooms</li>
						     <li>Pork Chops</li>
						 	</ol>