<p>
						     Please enter the number of up to three food items, separated by commas, from the healthy living menu:
						 	</p>

						 	<ol>
						 	 <li>Deconstructed Sushi Roll</li>
						     <li>Tangy Chicken Trail Mix</li>
						     <li>Hawaiian Stir Fry</li>
						     <li>Healthy BBQ Stir Fry</li>
						     <li>Old Bay Turkey Burger </li>
						     <li>Pecan Crusted Tilapia</li>

						 	</ol>