<div class = "navbar navbar-inverse navbar-static-top navigation">
	<div class = "container">
		<div class = "navbar-header">
			<a href= "<%= root_path %>" class = "navbar-brand home-link">WeCook</a>

			<button class = "navbar-toggle" data-toggle = "collapse" data-target = ".navHeaderCollapse">
				<span class = "icon-bar"></span>
				<span class = "icon-bar"></span>
				<span class = "icon-bar"></span>
			</button>
		</div>
		<div class = "collapse navbar-collapse navHeaderCollapse">
			<ul class = "nav navbar-nav navbar-right">
				<li><a href = "/food_objects/menu">Menu</a></li>
				 <% if signed_in? %>

                  <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Account <span class="caret"></span></a>
                      <ul class="dropdown-menu" role="menu">
                        <li><a href="/profile">Profile</a></li>
                        <li><%= link_to('Sign Out', destroy_customer_session_path, :method => :delete) %></li>
                      </ul>
                    </li>
                <% else %>
                 <li><%= link_to('Login', new_customer_session_path) %></li>
                <% end %>
				<li><a href = "/static_pages/why_us">Why Us</a></li>
				<li><a href = "/static_pages/what_we_do">What We Do</a></li>
				<li><a href = "/static_pages/pricing">Pricing</a></li>
				<!--<li><a href = "/barbecue/bbq">BBQ Plan</a></li>-->
			</ul>
		</div>
	</div>
</div>