<div class = "navbar navbar-inverse navbar-static-top navigation">
	<div class = "container">
		<div class = "navbar-header">
			<a href= "<%= root_path %>" class = "navbar-brand home-link">WeCook</a>

			<button class = "navbar-toggle" data-toggle = "collapse" data-target = ".navHeaderCollapse">
				<span class = "icon-bar"></span>
				<span class = "icon-bar"></span>
				<span class = "icon-bar"></span>
			</button>
		</div>
		<div class = "collapse navbar-collapse navHeaderCollapse">
			<ul class = "nav navbar-nav navbar-right">
				<li class = "active"><a href = "<%= root_path %>">Home</a></li>
				<li><a href = "/food_objects/menu">Menu</a></li>
				<% if signed_in? %>
					<li><a href="/profile">Account</a></li>
					
					<li><%= link_to('Sign Out', destroy_customer_session_path, :method => :delete) %></li>

				<% end %>
			</ul>
		</div>
	</div>
</div>