<p>
						     Please enter the number of up to three food items, separated by commas, from the home style menu. For the Tex Mex dish specify the choice of meat. For example an order could look like 1, 2, 6 chicken:
						 	</p>

						 	<ol>
						 	 <li>BBQ Chicken/Steak Quesadilla</li>
						     <li>Southern Mac and Cheese</li>
						     <li>Spicy Chicken Casserole with assorted vegetables</li>
						     <li>Chipotle Pork Chops</li>
						     <li>Shepherd's Pie</li>
						     <li>Tex Mex (Chicken, Steak, Vegetarian)</li>

						 	</ol>