    <!-- NAVBAR
    ================================================== -->

    <div class="navbar-wrapper cbp-af-header">
      <div class="container">

        <!-- Fixed navbar -->
        <div class="navbar cbp-af-inner" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <!--<a class="navbar-brand scroll"><img src="/assets/logo2.png"/></a>-->
              <h1><a class="navbar-brand" href="<%= root_path %>">WeCook</a></h1> 
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav pull-right">
                <% if signed_in? %>

                  <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Account <span class="caret"></span></a>
                      <ul class="dropdown-menu" role="menu">
                        <li><a href="/profile">Profile</a></li>
                        <li><%= link_to('Sign Out', destroy_customer_session_path, :method => :delete) %></li>
                      </ul>
                    </li>
                <% else %>
                 <li><%= link_to('Sign Up', new_customer_registration_path) %></li>
                <% end %>
                <li class=""><a href="/food_objects/menu">Menu</a></li>
                <li class=""><a href="/static_pages/why_us">Why Us</a></li>
                <li><a href = "/static_pages/what_we_do">What We Do</a></li>
                <li><a href = "/static_pages/pricing">Pricing</a></li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>