
<div class="col-md-4">
</div>
<div class="col-md-4">
<div class="center-block">

<h1 class="center-text">
Select Number of Meals
</h1>
<div class = "slid">
<input id="ex8" data-slider-id='ex1Slider' type="text" data-slider-min="6" data-slider-max="24" data-slider-step="2" data-slider-value="6"/>
<script>
$("#ex8").slider({tooltip: 'hide'})
$("#ex8").on("slide", function(slideEvt) {
$("#ex6SliderVal").text(slideEvt.value);
});
</script>
</div>
<div>
<h1 class = "center-text" id="ex6SliderVal">6</h1>
</div>
<div>
<a href="#" class="btn btn-block btn-lg btn-primary" id = "btn1"> Next <i class="fa fa-arrow-right order-arrow"></i></a>
<script>
$("#btn1").on('click', function (e) {
$("#step1").hide();
$("#step2").show();
});
</script>
</div>
</div>
<div class="col-md-4">
</div>
</div>










<div class="first block1 show">
		    <label for="firstname">Firstname:</label>
		    <input type="text" name="firstname" data-parsley-group="block1" required/>

		    <label for="lastname">Lastname:</label>
		    <input type="text" name="lastname" data-parsley-group="block1" required />
		    <span class="next btn btn-info" data-current-block="1" data-next-block="2">Next ></span>
</div>