<p>
						     Please enter the number of up to three food items, separated by commas, from the vegetarian menu.
						 	</p>

						 	<ol>
						 	 <li>Creamy Avocado Carbonara</li>
						     <li>Vegetarian Pad Thai</li>
						     <li>Vegan Pad Thai</li>
						     <li>Tofu Squash Curry</li>
						     <li>Vegan Spicy Creamy Kale Pasta</li>

						 	</ol>