<!DOCTYPE html>
<html lang="en">
 <%= render 'shared/header' %>
	<style> body {background-color:lightgray} </style>


	<!-- Number of Meals Step -->
	<div class="container" id="step1">

		<div class="row shit">
			<div class="col-md-4">
			</div>
			<div class="col-md-4">
				<div class="center-block">

					<h1 class="center-text">
						Select Number of Meals
					</h1>
					<div class = "slid">
						<input id="ex8" data-slider-id='ex1Slider' type="text" data-slider-min="1" data-slider-max="24" data-slider-step="1" data-slider-value="1"/>
						<script>
							$("#ex8").slider({tooltip: 'hide'})
							$("#ex8").on("slide", function(slideEvt) {
								$("#ex6SliderVal").text(slideEvt.value);
							});
						</script>
					</div>
					<div>
						<h1 class = "center-text" id="ex6SliderVal">1</h1>
					</div>
					<div>
						<a href="#" class="btn btn-block btn-lg btn-primary" id = "btn1"> Next <i class="fa fa-arrow-right order-arrow"></i></a>
						<script>
							$("#btn1").on('click', function (e) {
								$("#step1").hide();
								$("#step2").show();
							});
						</script>
					</div>
				</div>
			<div class="col-md-4">
			</div>
			</div>
		</div>	
	</div>

	<!-- ImagePicker Step -->
	<div class="container" id="step2" hidden>

		<div class="row shit">
			<div class="col-md-4">
			</div>
			<div class="col-md-4">
				<div class="center-block">
					<h1>
						Choose up to num_meals Meals
					</h1>
					<div>
						<a href="#" class="btn btn-block btn-lg btn-primary" id="btn2"> Next <i class="fa fa-arrow-right order-arrow"></i></a>
						<script>
							$("#btn2").on('click', function (e) {
								$("#step2").hide();
								$("#step3").show();
							});
						</script>
					</div>
				</div>
			</div>
			<div class="col-md-4">
			</div>
		</div>
	</div>	

	<!-- DateTimePicker Step -->
	<div class="container" id="step3" hidden>

		<div class="row shit">
			<div class="col-md-4">
			</div>
			<div class="col-md-4">
				<div class="center-block">
					<h1>
						Pick a Date and Time
					</h1>
					<div class="form-group">
						<div class='input-group date' id='datetimepicker1'>
							<input type='text' class="form-control" />
						         <span class="input-group-addon">
						            <span class="glyphicon glyphicon-calendar"></span>
						         </span>
						</div>
					</div>
				</div>
				<script type="text/javascript">
					$(function () {
						$('#datetimepicker1').datetimepicker({
							sideBySide: true,
						});
					});
				</script>
				<a href="#" class="btn btn-block btn-lg btn-primary" id="btn3"> Next <i class="fa fa-arrow-right order-arrow"></i></a>
				<script>
					$("#btn3").on('click', function (e) {
						$("#step3").hide();
						$("#step4").show();
					});
				</script>
			</div>
		</div>
		<div class="col-md-4">
		</div>
	</div>
	<!-- Enter Address / Phone# -->
	<div class="container" id="step4" hidden>

		<div class="row shit">
			<div class="col-md-4">
			</div>
			<div class="col-md-4">
				<div class="center-block">
					<h1>
						Enter Address and Phone Number
					</h1>
					<div class="input-group">
  						<span class="input-group-addon" id="basic-addon1">Address: </span>
 						 <input type="text" class="form-control" placeholder="100 Hungry Lane" aria-describedby="basic-addon1">
					</div>
					<div class="input-group">
  						<span class="input-group-addon" id="basic-addon1">Phone</span>
 						 <input type="text" class="form-control" placeholder="555-555-5555" aria-describedby="basic-addon1">
					</div>
					<div>
						<a href="../charges/new" class="btn btn-block btn-lg btn-primary" id="btn4"> Next <i class="fa fa-arrow-right order-arrow"></i></a>
					</div>
				</div>
			</div>
			<div class="col-md-4">
			</div>
		</div>
	</div>	
	 <%= render 'shared/footer' %>
</html>