
<% provide(:title, 'Home') %>

<script src="/assets/modernizr.custom.js"></script>

<%= render 'shared/slicknavbar' %>

    <!-- Hero Banner
    ================================================== -->
    <div id="intro-video" style="background-image: url( '/assets/wecook-bg.jpg' ); background-repeat: no-repeat; background-size: cover; background-position: center center;">

        <div class="item">
          <div class="container">
            <div class="row">
              <div class="carousel-caption-center colour-white">
                
                <h1 style="font-size: 40px; margin-top: -3%;">Connecting local chefs and you</h1>
                <h3>Your Kitchen, Our Chef.</h3>

                <% if signed_in? %>

                    <p><a class="btn btn-lg btn-primary scroll" href="/food_objects/menu" role="button">Menu</a></p>


                <% else %>

                    <%= link_to('View the menu', '/food_objects/menu', class: 'btn btn-lg btn-primary scroll', role: 'button')  %>

                <% end %>
               <div class="row" style="margin-bottom: 2%; margin-top: 5%; font-size: 70px;">
                  <a href="#about" class="scroll" style="color: white;"><i class="fa fa-arrow-circle-o-down" style="position: relative;"></i></a>
               </div>
              </div>
            </div>
          </div>
          <div class="overlay-bg"></div>
        </div>
    </div>



    <!-- About Section
    ================================================== -->
    <section id="about" class="content text-center light">

      <div class="container">
          <div class="row" style="margin-bottom: 5%;">
            <div class="col-lg-12 overlay-text">
              <h3 style="color:black; font-size: 30px;">Use WeCookInc if you care about Cost &amp; Convenience, Health &amp; Hygiene, Taste &amp; Temptation.</h3>
            </div><!-- /.col-lg-12 -->
          </div><!-- /.row -->
        
        <div class="row">
          <div class="col-sm-4 text-center overlay-text">
            <img src="/assets/chef.png" class="chef-icon" style="margin-bottom: 5%;"/>
            <h3>Trusted Chefs</h3>
            <p>We source from quality professionals who are certified by the Maryland State Food and Health Department and have demonstrated talent and a passion for gourmet cooking.</p>
          </div>
          <div class="col-sm-4 text-center overlay-text">
            <img src="/assets/calendarlogo.png" class="wecook-calendar"/>
            <h3>Convenient Scheduling</h3>
            <p>Book a time for grocery delivery and the chef appointment at your convenience. We take care of the rest.</p>
          </div>
          <div class="col-sm-4 text-center overlay-text icon3">
            <!--<img src="/assets/clocklogo.png" class="wecook-graphic"/>-->
            <img src="/assets/shield.png" class="shield-icon" style="margin-bottom: 5%;"/>
            <h3>Secure</h3>
            <p>All of our sensitive transactions occur over a 128-bit SSL encrycption. We also use Stripe's fully secure and PCI compliant payment gateway system.</p>
          </div>
        </div><!-- /.row -->
      </div>

      <div class="overlay-bg light"></div>

    </section>


    <!-- Featured Sections
    ================================================== -->
    <section id="featured1" class="dark with-bg">

      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h3 style="margin-top: 2%; color: white; font-size: 25px; margin-bottom: 4%;" class="text-center">Spending a lot of your time on grocery shopping, cooking, and cleaning? Let us whip up gourmet dishes for the entire week with one of our chef appointments!</h3>
            <img src="/assets/Infographic1.png" class="center-block img-responsive infographic"/>
          </div>
        </div>
      </div>

      <!--<div class="overlay-bg"></div>-->

    </section>


    <section id="pricing" class="featured" style="background-color: #eee;">

      <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3 style="font-size: 25px; margin-bottom: 2%;">What are you waiting for?</h3>

                    <% if signed_in? %>
                      <a href= "/food_objects/menu" class="btn btn-lg btn-primary">Order Now</a>
                    <% else %>
                     <%= link_to('Sign Up Today!', new_customer_session_path, class: 'btn btn-lg btn-primary', role: 'button')  %>
                    <% end %>
                </div>
            </div>
        </div>

    </section>

    <!-- Footer
    ================================================== -->
    <%= render 'shared/footer' %>

   
    <script src="/assets/cbpAnimatedHeader.min.js"></script>
   

    <script src="/assets/scrollReveal.js"></script>

    <script src="/assets/jquery.nav.js" defer="defer"></script>
  
   
  

  
