<% provide(:title, 'Menu') %>
<%= render 'shared/header' %>

<div class="container menu-container">
	<h1 class="text-center">Menu</h1>
	<hr style="border-top: 1px solid #3D3D3D; width: 150px;">
	<% @food.each do |food| %>
	<div class="row">
		<h3 class="text-center"><%= food.name %></h3>
		<p class="text-center"><%= food.description %></p>
	</div>
	<% end %>
</div>


<a href = "/orders/quantity" class = "customer-order-button">
<button type="button" class="btn btn-info btn-lg center-block order-button">Order Now</button>
</a>




<%= render 'shared/footer' %>

<style>
body {
	font-family: sans-serif;
}

</style>