
@mixin box_sizing {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box
}

#error_explanation {
	color: #f00;
	ul {
		list-style: none;
		margin: 0 0 18px 0;
	}
}


.margin {

	margin-bottom: 20px;
}

.portfolio-item-food {

	margin-bottom: 25px;
	color:rgb(240,240,240);

}

.food {
	margin:auto;
	width:60%;
}


.chef-description {
    display: table;
}

[class*="chef-col"] {
    float: none;
    display: table-cell;
    vertical-align: top;
}


.chef-bio {
	vertical-align:middle;
}

.chef {

	margin-right:  91px;
}

.chef-container {
	margin-bottom: 0;
	background:linear-gradient(#000033,#181818);
	color:rgba(240,240,154,.9);
}


.food-container {
	/*
	margin-top: 40px; */
	width: 100%; 
	/*position:absolute;*/
	background-image:URL("/assets/menu-bg.jpg");

}

.food-top{
	margin-top:40px;
}

.navigation {
	margin-bottom: 0px;
}

.home-link {
	color:white;
	font-weight:bold;
}

.order-button {
	margin-bottom:30px;
}

.menu-footer {
	background: #333;
	color: #eee;
	font-size: 11px;
	padding: 20px;
}

ul.unstyled {
	list-style: none;
	padding: 0;
}

.chef-profile {
    display: table;
    margin-bottom: 80px;
}

[class*="chef-profile-col"] {
    float: none;
    display: table-cell;
    vertical-align: top;
}


.chef-hook {
	
  	margin-top: 10%;
   
}

.chef-index {

	width: 100%; 
	
	background-image:URL("/assets/menu-bg.jpg");

	color: white;

}

.chef-img {

	margin-left: 8%;
}

#small-text {
	color: white;
}

.modal-bg {
	background-image:URL("/assets/gray-bg.jpg");
	color: white;
}

.food-right {
	margin-left: 60%;
}

.food-left {
	margin-right: 60%
}

.showcase img{
	height: 200px;
    width: 200px;
}

.top-row {
	margin-bottom: 25px;
}

.layer {
	background-color: rgba(0, 0, 0, 0.3);
    
}

.layer2 {
	background-color: rgba(0, 0, 0, 0.1);
    
}

.nav-arrow {
	color: white;
}

.potentialUser {
	background-image:URL("/assets/texture-bg.png");
	color: white;
}

.about-row {
    display: table;
    margin-bottom: 80px;
}

[class*="about-col"] {
    float: none;
    display: table-cell;
    vertical-align: top;
}

.about-page {

	background-image:URL("/assets/about2-bg.jpg");
	color: white;

}

#plan-title {
	color: rgb(255,255,255);
}

#special-font {

    font-family: 'Cookie', cursive;
    font-size: 9em;
    font-weight: lighter;
    

}

#slogan {
    font-family: 'Cookie', cursive;
    font-size: 4em;
    font-weight: lighter;
    
}

.about-row {
	p {
		font-size: 1.2em;
	}
}

.advisor {
	height: 239px;
	width: 159px;
}
